@tailwind base;
@tailwind components;
@tailwind utilities;

.shake-animation {
    border: 2px solid rgb(233, 54, 54);
    border-bottom: 3px solid rgb(233, 54, 54);
    animation: shake 500ms forwards;
}


@keyframes shake {
    0% {
        transform: translate(0, 0)
    }

    25% {
        transform: translate(5px, 5px)
    }

    50% {
        transform: translate(-5px, -5px)
    }

    75% {
        transform: translate(5px, 5px)
    }

    100% {
        transform: translate(0, 0)
    }
}